body {
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  border: 1px solid #000000;
  box-shadow: 1px 3px 10px 0px #939393;
}
a {
  font-size: 20px;
  margin-top: 20px;
}
